* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
    -webkit-tap-highlight-color: transparent;
}
:focus {
  outline: none;
}

.container {
    background: linear-gradient(to right,rgb(13, 11, 26),rgb(66, 41, 71));
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.calculator {
    background: linear-gradient(to right,rgb(27, 20, 53),rgb(52, 39, 107));
    border-radius: 10px;
    padding: 10px;
}

.calculator  input {
    border: 0;
    outline: 0;
    font-size: 25px;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    margin: 10px;
    background: transparent;
    color: white;
    cursor: pointer;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);   
}
#display {
    width: 320px;
    text-align: right;
    flex: 1;
    font-size: 35px;
    box-shadow: none;
    caret-color: transparent;
}
#display::placeholder{
    font-size: 25px;
    color: rgb(69, 67, 72);

}
#equal {
    width: 150px;
}
.calculator input[type="button"]:active {
    background-color: rgb(22, 22, 53);
}
div{
    cursor: pointer;
    caret-color: transparent;
}
.calculator  input[type="text"]{
    caret-color: black;
}

input[type="button"][value="AC"] {
    background-color: rgb(158, 63, 63);
}
input[type="button"][value="/"] {
    background-color: rgb(59, 59, 163);
}
input[type="button"][value="*"] {
    background-color: rgb(59, 59, 163);
}
input[type="button"][value="-"] {
    background-color: rgb(59, 59, 163);
}
input[type="button"][value="+"] {
    background-color: rgb(59, 59, 163);
}
input[type="button"][value="="] {
    background-color: rgb(237, 237, 237);
    color: black;
}

.image {
    background-image: url("Aryel.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
}

@media (min-width:900px) {
    .image {
    background-image: url("Aryel.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin-bottom: 50px;
}

}
@media (min-width:100px) {
    .image {
    background-image: url("Aryel.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}

}
.brand {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.brand-text {
    color: rgb(72, 42, 72);
}